*{
    margin: 0px 10px 0px 10px;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #a865008e;
}

.cabecera img{
    height: 40px;
}
.cabecerat img{
    height: 40px;
}
.cabecerac img{
    width: 60%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}
nav{
    width: 100%;
    font-weight: bold;
    padding: 20px;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
}
nav ul a:hover{
    background-color: aquamarine;
    border-radius: 5px;
}
#contenedor{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: rgb(133, 92, 34);
}
#contenedor2{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#contenedor3{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.box {
    background-color: #d88e8e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    min-width: 280px;
    max-width: 250;
}
.box img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
/* formulario*/
form{
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    height: 90%;
}

h2{
    text-align: center;
}
form label {
    margin: 20px;
    font-weight: bold;
    padding: 20px;
}
form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    margin-top: 15px;
    padding: 10px;
    background:#000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
form button:hover {
    background: #ff0000;
} 
.from-link {
    background: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;    
}